#slogan{
    font-family: 'Montserrat', sans-serif;
    animation: slogan 10s ease forwards;
}

@keyframes slogan{
    0%{
        position: relative;
        top: 100px;
    }
    50%{
        position: relative;
        top: 50px;
    }
    75%{
        position: relative;
        top: 5px;
    }
    100%{
        position: relative;
        top: 0px;
    }
}